@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../admin-default";
@import "../../_extra/bootstrap5_custom";
.sp-sc-ud {
  .sp-question {
    .sp-gap-question {
      strong {
        cursor: pointer;
        &:hover {
          color: var(--sp-color-accent);
        }
      }
    }
  }
  button.sp-action-button {
    background: #fff;
    color: black;
    border: 2px solid #9d9d9d;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: #eee;
    }
  }
}
#wpcontent {
  background: #f0f0f0;
}

.ld-lesson-navigation.ld-lesson-items{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  flex-wrap: wrap;
}

.ld-lesson-navigation.ld-lesson-items .ld-lesson-items{
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
  min-width: 100px;
}