assets/_extra/fontawesome-free
assets/_extra/bootstrap-4
assets/node_modules

/vendor/
/assets2/vue-project/node_modules
/assets2/vue-second/node_modules
/assets2/vue-second/js

/db-seeder/node_modules
