@import "../admin-default";
.admin-image-card {
  .image-area {
    .image-area-inner {
      border: 1px solid #ea9e6d;
      padding: 5px;
      position: relative;
      .sp-boxes {
        position: absolute;
        display: inline-block;
        border: 2px solid #8e8e8e;
        background-color: #feeca2;
        cursor: pointer;
        &:hover {
          background-color: transparent;
        }
        .ui-rotatable-handle, .ui-resizable-handle {
          visibility: hidden;
        }
        &:hover {
          .ui-rotatable-handle, .ui-resizable-handle {
            visibility: visible;
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .image-area-inner-preview {
      padding: 5px;
      position: relative;
      .sp-box-preview {
        position: absolute;
        display: inline-block;
        border: 2px solid #8e8e8e;
        background-color: #feeca2;
        cursor: pointer;
        &.show-box {
          background-color: transparent;
          border: 2px solid var(--sp-color-default);
        }
        &.asked-box {
          background-color: #ff7d7a;
        }
        &.hide-box {
          visibility: hidden;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .image-menu-action {
    ul {
      li {
        @apply m-0 px-2 py-1 border-b-2 border-gray-200 cursor-pointer hover:bg-sp-100;
        #popper[data-popper-reference-hidden] {
          visibility: hidden;
          pointer-events: none;
        }
      }
    }
  }
}
#wpcontent {
  background: #f0f0f0;
}