.admin-endpoints {
  @import "../../_extra/default-admin-links";
  .nav-tab-wrapper {
    border-bottom: 1px solid #c3c4c7;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 0;
    line-height: inherit;
    position: relative;
    top: -2px;
    a.nav-tab {
      float: left;
      border: 1px solid #c3c4c7;
      border-bottom: none;
      margin-left: .5em;
      padding: 5px 10px;
      font-size: 14px;
      line-height: 1.71428571;
      font-weight: 600;
      background: #dcdcde;
      color: #50575e;
      text-decoration: none;
      white-space: nowrap;
      &.nav-tab-active {
        margin-bottom: -1px;
        color: #3c434a;
      }
      &.nav-tab:hover {
        background: #f0f0f1;
        color: #000;
      }
      &.nav-tab-active, &.nav-tab-active:focus, &.nav-tab-active:focus:active, &.nav-tab-active:hover {
        border-bottom: 1px solid #ffffff;
        background: #ffffff;
        color: #000;
      }
    }
    a.nav-tab, a.nav-tab-active {
      box-shadow: none;
    }
  }
  select {
    background: none !important;
  }
  .new-endpoint {
    padding: 10px 0 0 10px;
    border-top: 1px solid #bfbfbf;
    margin-bottom: 10px;
    border-bottom: 1px solid #d2d2d2;
  }
}