//@import "bootstrap/scss/bootstrap";
@import "../admin-default";

:root {
  //--sp-color-default: '#E97225';
  --sp-color-default: rgb(233, 114, 37);
  --sp-color-50: rgb(250, 222, 204);
  --sp-color-100: rgb(248, 210, 185);
  --sp-color-200: rgb(244, 186, 148);
  --sp-color-300: rgb(240, 162, 111);
  --sp-color-400: rgb(237, 138, 74);
  --sp-color-500: rgb(233, 114, 37);
  --sp-color-600: rgb(227, 103, 23);
  --sp-color-700: rgb(208, 95, 21);
  --sp-color-800: rgb(190, 86, 19);
  --sp-color-900: rgb(171, 78, 17);
  --sp-color-wp-bg: rgb(240, 240, 240);

  //  DEFAULT: '#E97225',
  //'50': '#FADECC',
  //'100': '#F8D2B9',
  //'200': '#F4BA94',
  //'300': '#F0A26F',
  //'400': '#ED8A4A',
  //'500': '#E97225',
  //'600': '#E36717',
  //'700': '#D05F15',
  //'800': '#BE5613',
  //'900': '#AB4E11',
}

.admin-topics {
}

.sp-answer {
  &p {
    text-align: justify;
  }
}

#wpcontent {
  background: #f0f0f0;
}

#wpcontent {
  background: #f0f0f0;
}

.multiselect__input {
  border: 0 !important;
}

.multiselect__tags {
  border: 1px solid var(--sp-color-default) !important;
}

.multiselect__spinner:before, .multiselect__spinner:after {
  border-color: var(--sp-color-500) transparent transparent !important;
}

.multiselect__option--highlight {
  background: var(--sp-color-500) !important;
}

.multiselect__option--highlight {
  background: var(--sp-color-400) !important;
  outline: none;
  color: white;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: var(--sp-color-500) !important;
  color: white;
}

.multiselect__option--selected {
  background: #F3F3F3;
  color: #35495E;
  font-weight: bold;
}

.multiselect__option--selected:after {
  content: attr(data-selected);
  color: silver;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #FF6A6A;
  color: #fff;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: #FF6A6A;
  content: attr(data-deselect);
  color: #fff;
}

.multiselect--disabled {
  background: #ededed;
  pointer-events: none;
}

ul.multiselect__content {
  padding: 0 !important;
  margin: 0 !important;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
  background: #ededed;
  color: #a6a6a6;
}

.card-pagination {
  li {
    button {
      &:not(.active) {
        color: var(--sp-color-default) !important;
      }

      &.active {
        background: var(--sp-color-default) !important;
        border-color: var(--sp-color-default) !important;
      }
    }
  }

  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
  }

  .page-link {
    position: relative;
    display: block;
    color: var(--sp-color-default);
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  @media (prefers-reduced-motion: reduce) {
    .page-link {
      transition: none;
    }
  }

  .page-link:hover {
    z-index: 2;
    color: var(--sp-color-default);
    background-color: #e9ecef;
    border-color: #dee2e6;
  }

  .page-link:focus {
    z-index: 3;
    color: var(--sp-color-default);
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--sp-color-900);;
  }

  .page-item:not(:first-child) .page-link {
    margin-left: -1px;
  }

  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--sp-color-default);
    border-color: var(--sp-color-900);
  }

  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
  }

  .page-link {
    padding: 0.375rem 0.75rem;
  }

  .page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }

  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }

  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }

  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
}

$transition-base: all .2s ease-in-out !default;
$enable-transitions: true !default;
@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

.sp-modal {
  $white: #fff !default;
  $gray-100: #f8f9fa !default;
  $gray-200: #e9ecef !default;
  $gray-300: #dee2e6 !default;
  $gray-400: #ced4da !default;
  $gray-500: #adb5bd !default;
  $gray-600: #6c757d !default;
  $gray-700: #495057 !default;
  $gray-800: #343a40 !default;
  $gray-900: #212529 !default;
  $black: #000 !default;
  // Padding applied to the modal body
  $modal-inner-padding: 1rem !default;

  $modal-dialog-margin: .5rem !default;
  $modal-dialog-margin-y-sm-up: 1.75rem !default;
  $border-width: 1px !default;
  $border-color: $gray-300 !default;

  $line-height-base: 1.5 !default;
  $modal-title-line-height: $line-height-base !default;

  $modal-content-bg: $white !default;
  $modal-content-border-color: rgba($black, .2) !default;
  $modal-content-border-width: $border-width !default;
  $modal-content-box-shadow-xs: 0 .25rem .5rem rgba($black, .5) !default;
  $modal-content-box-shadow-sm-up: 0 .5rem 1rem rgba($black, .5) !default;

  $modal-backdrop-bg: $black !default;
  $modal-backdrop-opacity: .5 !default;
  $modal-header-border-color: $gray-200 !default;
  $modal-footer-border-color: $modal-header-border-color !default;
  $modal-header-border-width: $modal-content-border-width !default;
  $modal-footer-border-width: $modal-header-border-width !default;
  $modal-header-padding: 1rem !default;

  $modal-lg: 800px !default;
  $modal-md: 500px !default;
  $modal-sm: 300px !default;

  $modal-transition: transform .3s ease-out !default;


  .modal-open {
    overflow: hidden;
  }

  // Container that the modal scrolls within
  $zindex-modal: 1050 !default;

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    display: none;
    overflow: hidden;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
    // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
    // See also https://github.com/twbs/bootstrap/issues/17695

    .modal-open & {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  // Shell div to position the modal with bottom padding
  .modal-dialog {
    position: relative;
    width: auto;
    margin: $modal-dialog-margin;
    // allow clicks to pass through for custom click handling to close modal
    pointer-events: none;

    // When fading in the modal, animate it to slide down
    .modal.fade & {
      @include transition($modal-transition);
      transform: translate(0, -25%);
    }

    .modal.show & {
      transform: translate(0, 0);
    }
  }

  .modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (#{$modal-dialog-margin} * 2));
  }

  $enable-rounded: true !default;
  $enable-shadows: false !default;
  $border-width: 1px !default;
  $border-color: $gray-300 !default;

  $border-radius: .25rem !default;
  $border-radius-lg: .3rem !default;
  $border-radius-sm: .2rem !default;
  $zindex-dropdown: 1000 !default;
  $zindex-sticky: 1020 !default;
  $zindex-fixed: 1030 !default;
  $zindex-modal-backdrop: 1040 !default;
  $zindex-modal: 1050 !default;
  $zindex-popover: 1060 !default;
  $zindex-tooltip: 1070 !default;
  $grid-breakpoints: (
          xs: 0,
          sm: 576px,
          md: 768px,
          lg: 992px,
          xl: 1200px
  ) !default;


  @mixin border-radius($radius: $border-radius) {
    @if $enable-rounded {
      border-radius: $radius;
    }
  }
  @mixin box-shadow($shadow...) {
    @if $enable-shadows {
      box-shadow: $shadow;
    }
  }
  @mixin border-top-radius($radius) {
    @if $enable-rounded {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
  }
  @function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
  }
  @mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
      @media (min-width: $min) {
        @content;
      }
    } @else {
      @content;
    }
  }
  // Actual modal
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
    // counteract the pointer-events: none; in the .modal-dialog
    pointer-events: auto;
    background-color: $modal-content-bg;
    background-clip: padding-box;
    border: $modal-content-border-width solid $modal-content-border-color;
    @include border-radius($border-radius-lg);
    @include box-shadow($modal-content-box-shadow-xs);
    // Remove focus outline from opened modal
    outline: 0;
  }

  // Modal background
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    background-color: $modal-backdrop-bg;

    // Fade for backdrop
    &.fade {
      opacity: 0;
    }

    &.show {
      opacity: $modal-backdrop-opacity;
    }
  }

  // Modal header
  // Top section of the modal w/ title and dismiss
  .modal-header {
    display: flex;
    align-items: flex-start; // so the close btn always stays on the upper right corner
    justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
    padding: $modal-header-padding;
    border-bottom: $modal-header-border-width solid $modal-header-border-color;
    @include border-top-radius($border-radius-lg);

    .close {
      padding: $modal-header-padding;
      // auto on the left force icon to the right even when there is no .modal-title
      margin: (-$modal-header-padding) (-$modal-header-padding) (-$modal-header-padding) auto;
    }
  }

  // Title text within header
  .modal-title {
    margin-bottom: 0;
    line-height: $modal-title-line-height;
  }

  // Modal body
  // Where all modal content resides (sibling of .modal-header and .modal-footer)
  .modal-body {
    position: relative;
    // Enable `flex-grow: 1` so that the body take up as much space as possible
    // when should there be a fixed height on `.modal-dialog`.
    flex: 1 1 auto;
    padding: $modal-inner-padding;
  }

  // Footer (for actions)
  .modal-footer {
    display: flex;
    align-items: center; // vertically center
    justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
    padding: $modal-inner-padding;
    border-top: $modal-footer-border-width solid $modal-footer-border-color;

    // Easily place margin between footer elements
    > :not(:first-child) {
      margin-left: .25rem;
    }

    > :not(:last-child) {
      margin-right: .25rem;
    }
  }

  // Measure scrollbar width for padding body during modal show/hide
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }

  // Scale up the modal
  @include media-breakpoint-up(sm) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
      max-width: $modal-md;
      margin: $modal-dialog-margin-y-sm-up auto;
    }

    .modal-dialog-centered {
      min-height: calc(100% - (#{$modal-dialog-margin-y-sm-up} * 2));
    }

    .modal-content {
      @include box-shadow($modal-content-box-shadow-sm-up);
    }

    .modal-sm {
      max-width: $modal-sm;
    }

  }

  @include media-breakpoint-up(lg) {
    .modal-lg {
      max-width: $modal-lg;
    }
  }

}

.v-model {
  z-index: 9999999999 !important;
}

.mp-slide-in {
  position: relative;
  left: 0;
  -webkit-animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  -moz-animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  -animation-fill-mode: forwards;
}

.mp-slide-left {
  position: relative;
  left: 0;
  -webkit-animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  -moz-animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  -animation-fill-mode: forwards;
  transition: height 4s;
}

@keyframes spSlideIn {
  0% {
    transform: translateX(+100px);
  }

  100% {
    transform: translateX(0);
  }
}

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}

[data-tippy-root] {
  max-width: calc(100vw - 10px)
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1
}

.tippy-box[data-placement^=top] > .tippy-svg-arrow {
  bottom: 0
}

.tippy-box[data-placement^=top] > .tippy-svg-arrow:after, .tippy-box[data-placement^=top] > .tippy-svg-arrow > svg {
  top: 16px;
  transform: rotate(180deg)
}

.tippy-box[data-placement^=bottom] > .tippy-svg-arrow {
  top: 0
}

.tippy-box[data-placement^=bottom] > .tippy-svg-arrow > svg {
  bottom: 16px
}

.tippy-box[data-placement^=left] > .tippy-svg-arrow {
  right: 0
}

.tippy-box[data-placement^=left] > .tippy-svg-arrow:after, .tippy-box[data-placement^=left] > .tippy-svg-arrow > svg {
  transform: rotate(90deg);
  top: calc(50% - 3px);
  left: 11px
}

.tippy-box[data-placement^=right] > .tippy-svg-arrow {
  left: 0
}

.tippy-box[data-placement^=right] > .tippy-svg-arrow:after, .tippy-box[data-placement^=right] > .tippy-svg-arrow > svg {
  transform: rotate(-90deg);
  top: calc(50% - 3px);
  right: 11px
}

.tippy-svg-arrow {
  width: 16px;
  height: 16px;
  fill: #333;
  text-align: initial
}

.tippy-svg-arrow, .tippy-svg-arrow > svg {
  position: absolute
}

.vch__container .vch__legend {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.vch__container .vch__external-legend-wrapper {
  margin: 0 8px
}

svg.vch__wrapper {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 10px;
  width: 100%
}

svg.vch__wrapper .vch__months__labels__wrapper text.vch__month__label {
  font-size: 10px
}

svg.vch__wrapper .vch__days__labels__wrapper text.vch__day__label, svg.vch__wrapper .vch__legend__wrapper text {
  font-size: 9px
}

svg.vch__wrapper text.vch__month__label, svg.vch__wrapper text.vch__day__label, svg.vch__wrapper .vch__legend__wrapper text {
  fill: #767676
}

svg.vch__wrapper rect.vch__day__square:hover {
  stroke: #555;
  stroke-width: 2px;
  paint-order: stroke
}

svg.vch__wrapper rect.vch__day__square:focus {
  outline: none
}

svg.vch__wrapper.dark-mode text.vch__month__label, svg.vch__wrapper.dark-mode text.vch__day__label, svg.vch__wrapper.dark-mode .vch__legend__wrapper text {
  fill: #fff
}

.v-overlay.v-overlay--active {
  z-index: 999999 !important;
}

.v-input__details {
  display: none !important;
}

.v-dialog > .v-overlay__content {
  max-width: calc(100% - 5px) !important;
}

.card-pagination {
  ul {
    list-style: none !important;
  }
}

// This will style the Quill editor's content when displayed.
.mp-ql-editor-content-wrapper {
  .ql-container {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0px;
    position: relative;
  }

  .ql-container.ql-disabled .ql-tooltip {
    visibility: hidden;
  }

  .ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
    pointer-events: none;
  }

  .ql-clipboard {
    left: -100000px;
    height: 1px;
    overflow-y: hidden;
    position: absolute;
    top: 50%;
  }

  .ql-clipboard p {
    margin: 0;
    padding: 0;
  }

  .ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .ql-editor > * {
    cursor: text;
  }

  .ql-editor p,
  .ql-editor ol,
  .ql-editor ul,
  .ql-editor pre,
  .ql-editor blockquote,
  .ql-editor h1,
  .ql-editor h2,
  .ql-editor h3,
  .ql-editor h4,
  .ql-editor h5,
  .ql-editor h6 {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  .ql-editor ol,
  .ql-editor ul {
    padding-left: 1.5em;
  }

  .ql-editor ol > li,
  .ql-editor ul > li {
    list-style-type: none;
  }

  .ql-editor ul > li::before {
    content: '\2022';
  }

  .ql-editor ul[data-checked=true],
  .ql-editor ul[data-checked=false] {
    pointer-events: none;
  }

  .ql-editor ul[data-checked=true] > li *,
  .ql-editor ul[data-checked=false] > li * {
    pointer-events: all;
  }

  .ql-editor ul[data-checked=true] > li::before,
  .ql-editor ul[data-checked=false] > li::before {
    color: #777;
    cursor: pointer;
    pointer-events: all;
  }

  .ql-editor ul[data-checked=true] > li::before {
    content: '\2611';
  }

  .ql-editor ul[data-checked=false] > li::before {
    content: '\2610';
  }

  .ql-editor li::before {
    display: inline-block;
    white-space: nowrap;
    width: 1.2em;
  }

  .ql-editor li:not(.ql-direction-rtl)::before {
    margin-left: -1.5em;
    margin-right: 0.3em;
    text-align: right;
  }

  .ql-editor li.ql-direction-rtl::before {
    margin-left: 0.3em;
    margin-right: -1.5em;
  }

  .ql-editor ol li:not(.ql-direction-rtl),
  .ql-editor ul li:not(.ql-direction-rtl) {
    padding-left: 1.5em;
  }

  .ql-editor ol li.ql-direction-rtl,
  .ql-editor ul li.ql-direction-rtl {
    padding-right: 1.5em;
  }

  .ql-editor ol li {
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    counter-increment: list-0;
  }

  .ql-editor ol li:before {
    content: counter(list-0, decimal) '. ';
  }

  .ql-editor ol li.ql-indent-1 {
    counter-increment: list-1;
  }

  .ql-editor ol li.ql-indent-1:before {
    content: counter(list-1, lower-alpha) '. ';
  }

  .ql-editor ol li.ql-indent-1 {
    counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  .ql-editor ol li.ql-indent-2 {
    counter-increment: list-2;
  }

  .ql-editor ol li.ql-indent-2:before {
    content: counter(list-2, lower-roman) '. ';
  }

  .ql-editor ol li.ql-indent-2 {
    counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  }

  .ql-editor ol li.ql-indent-3 {
    counter-increment: list-3;
  }

  .ql-editor ol li.ql-indent-3:before {
    content: counter(list-3, decimal) '. ';
  }

  .ql-editor ol li.ql-indent-3 {
    counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
  }

  .ql-editor ol li.ql-indent-4 {
    counter-increment: list-4;
  }

  .ql-editor ol li.ql-indent-4:before {
    content: counter(list-4, lower-alpha) '. ';
  }

  .ql-editor ol li.ql-indent-4 {
    counter-reset: list-5 list-6 list-7 list-8 list-9;
  }

  .ql-editor ol li.ql-indent-5 {
    counter-increment: list-5;
  }

  .ql-editor ol li.ql-indent-5:before {
    content: counter(list-5, lower-roman) '. ';
  }

  .ql-editor ol li.ql-indent-5 {
    counter-reset: list-6 list-7 list-8 list-9;
  }

  .ql-editor ol li.ql-indent-6 {
    counter-increment: list-6;
  }

  .ql-editor ol li.ql-indent-6:before {
    content: counter(list-6, decimal) '. ';
  }

  .ql-editor ol li.ql-indent-6 {
    counter-reset: list-7 list-8 list-9;
  }

  .ql-editor ol li.ql-indent-7 {
    counter-increment: list-7;
  }

  .ql-editor ol li.ql-indent-7:before {
    content: counter(list-7, lower-alpha) '. ';
  }

  .ql-editor ol li.ql-indent-7 {
    counter-reset: list-8 list-9;
  }

  .ql-editor ol li.ql-indent-8 {
    counter-increment: list-8;
  }

  .ql-editor ol li.ql-indent-8:before {
    content: counter(list-8, lower-roman) '. ';
  }

  .ql-editor ol li.ql-indent-8 {
    counter-reset: list-9;
  }

  .ql-editor ol li.ql-indent-9 {
    counter-increment: list-9;
  }

  .ql-editor ol li.ql-indent-9:before {
    content: counter(list-9, decimal) '. ';
  }

  .ql-editor .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em;
  }

  .ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 2.5em;
  }

  .ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em;
  }

  .ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em;
  }

  .ql-editor .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 4em;
  }

  .ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 5.5em;
  }

  .ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em;
  }

  .ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 7.5em;
  }

  .ql-editor .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 7em;
  }

  .ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 8.5em;
  }

  .ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em;
  }

  .ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 10.5em;
  }

  .ql-editor .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 10em;
  }

  .ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 11.5em;
  }

  .ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em;
  }

  .ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 13.5em;
  }

  .ql-editor .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 13em;
  }

  .ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 14.5em;
  }

  .ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
  }

  .ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 16.5em;
  }

  .ql-editor .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 16em;
  }

  .ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 17.5em;
  }

  .ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
  }

  .ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 19.5em;
  }

  .ql-editor .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 19em;
  }

  .ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 20.5em;
  }

  .ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em;
  }

  .ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 22.5em;
  }

  .ql-editor .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 22em;
  }

  .ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 23.5em;
  }

  .ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em;
  }

  .ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 25.5em;
  }

  .ql-editor .ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 25em;
  }

  .ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 26.5em;
  }

  .ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em;
  }

  .ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 28.5em;
  }

  .ql-editor .ql-video {
    display: block;
    max-width: 100%;
  }

  .ql-editor .ql-video.ql-align-center {
    margin: 0 auto;
  }

  .ql-editor .ql-video.ql-align-right {
    margin: 0 0 0 auto;
  }

  .ql-editor .ql-bg-black {
    background-color: #000;
  }

  .ql-editor .ql-bg-red {
    background-color: #e60000;
  }

  .ql-editor .ql-bg-orange {
    background-color: #f90;
  }

  .ql-editor .ql-bg-yellow {
    background-color: #ff0;
  }

  .ql-editor .ql-bg-green {
    background-color: #008a00;
  }

  .ql-editor .ql-bg-blue {
    background-color: #06c;
  }

  .ql-editor .ql-bg-purple {
    background-color: #93f;
  }

  .ql-editor .ql-color-white {
    color: #fff;
  }

  .ql-editor .ql-color-red {
    color: #e60000;
  }

  .ql-editor .ql-color-orange {
    color: #f90;
  }

  .ql-editor .ql-color-yellow {
    color: #ff0;
  }

  .ql-editor .ql-color-green {
    color: #008a00;
  }

  .ql-editor .ql-color-blue {
    color: #06c;
  }

  .ql-editor .ql-color-purple {
    color: #93f;
  }

  .ql-editor .ql-font-serif {
    font-family: Georgia, Times New Roman, serif;
  }

  .ql-editor .ql-font-monospace {
    font-family: Monaco, Courier New, monospace;
  }

  .ql-editor .ql-size-small {
    font-size: 0.75em;
  }

  .ql-editor .ql-size-large {
    font-size: 1.5em;
  }

  .ql-editor .ql-size-huge {
    font-size: 2.5em;
  }

  .ql-editor .ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
  }

  .ql-editor .ql-align-center {
    text-align: center;
  }

  .ql-editor .ql-align-justify {
    text-align: justify;
  }

  .ql-editor .ql-align-right {
    text-align: right;
  }

  .ql-editor.ql-blank::before {
    color: rgba(0, 0, 0, 0.6);
    content: attr(data-placeholder);
    font-style: italic;
    left: 15px;
    pointer-events: none;
    position: absolute;
    right: 15px;
  }

  // Restyling.
  .ql-editor {
    ol, ul {
      text-align: left !important;
      padding: 0 !important;

      li:not([class^="ql-indent"]) {
        padding: 0 !important;
      }
    }
  }

}
