//@import "bootstrap/scss/bootstrap";
@import "../admin-default";

:root {
  //--sp-color-default: '#E97225';
  --sp-color-default: rgb(233, 114, 37);
  --sp-color-50: rgb(250, 222, 204);
  --sp-color-100: rgb(248, 210, 185);
  --sp-color-200: rgb(244, 186, 148);
  --sp-color-300: rgb(240, 162, 111);
  --sp-color-400: rgb(237, 138, 74);
  --sp-color-500: rgb(233, 114, 37);
  --sp-color-600: rgb(227, 103, 23);
  --sp-color-700: rgb(208, 95, 21);
  --sp-color-800: rgb(190, 86, 19);
  --sp-color-900: rgb(171, 78, 17);
  --sp-color-wp-bg: rgb(240, 240, 240);

  //  DEFAULT: '#E97225',
  //'50': '#FADECC',
  //'100': '#F8D2B9',
  //'200': '#F4BA94',
  //'300': '#F0A26F',
  //'400': '#ED8A4A',
  //'500': '#E97225',
  //'600': '#E36717',
  //'700': '#D05F15',
  //'800': '#BE5613',
  //'900': '#AB4E11',
}

.admin-topics {
}

#wpcontent {
  background: #f0f0f0;
}

#wpcontent {
  background: #f0f0f0;
}

.multiselect__input {
  border: 0 !important;
}

.multiselect__tags {
  border: 1px solid var(--sp-color-default) !important;
}

.multiselect__spinner:before, .multiselect__spinner:after {
  border-color: var(--sp-color-500) transparent transparent !important;
}

.multiselect__option--highlight {
  background: var(--sp-color-500) !important;
}
.multiselect__option--highlight {
  background: var(--sp-color-400) !important;
  outline: none;
  color: white;
}

.multiselect__option--highlight:after {
  content: attr(data-select);
  background: var(--sp-color-500) !important;
  color: white;
}

.multiselect__option--selected {
  background: #F3F3F3;
  color: #35495E;
  font-weight: bold;
}

.multiselect__option--selected:after {
  content: attr(data-selected);
  color: silver;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: #FF6A6A;
  color: #fff;
}

.multiselect__option--selected.multiselect__option--highlight:after {
  background: #FF6A6A;
  content: attr(data-deselect);
  color: #fff;
}

.multiselect--disabled {
  background: #ededed;
  pointer-events: none;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
  background: #ededed;
  color: #a6a6a6;
}

.card-pagination {
  li {
    button {
      &:not(.active) {
        color: var(--sp-color-default) !important;
      }

      &.active {
        background: var(--sp-color-default) !important;
        border-color: var(--sp-color-default) !important;
      }
    }
  }
}

.mp-slide-in {
  position: relative;
  left: 0;
  -webkit-animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  -moz-animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  -animation-fill-mode: forwards;
}

.mp-slide-left {
  position: relative;
  left: 0;
  -webkit-animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  -moz-animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  animation: spSlideIn 1s cubic-bezier(0.1, 1.04, 0.25, 0.91);
  -animation-fill-mode: forwards;
  transition: height 4s;
}

@keyframes spSlideIn {
  0% {
    transform: translateX(+100px);
  }

  100% {
    transform: translateX(0);
  }
}
